<% layout('layout/layout.ejs')%>

<link rel="stylesheet" href="css/index.css">

<h1>Nuestros Productos</h1>

<div class="card-container border-bottom">
    <% productos.forEach(producto => { %>
    <div class="cards">
        <img src="<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>">
        <h2><%= producto.nombre %></h2>
        <p><%= producto.descripcion %></p>
        <p>Color: <%= producto.color %></p>
        
        <div class="card-footer">
            <p class="precio">$<%= producto.precio %></p>
            <div class="cantidad-container">
                <div class="cantidad">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad-<%= producto._id %>" value="1" min="1">
                </div>
                <button class="btn btn-ver-detalles" data-producto='<%= JSON.stringify(producto) %>'>
                    Ver Detalles
                </button>
            </div>
            <button class="btn btn-carrito" data-id="<%= producto._id %>">Añadir al carrito</button>
        </div>
    </div>
    <% }); %>
</div>
<div>
    <div>
        <h3>Vestidos elegantes</h3>
        <div class="scroll-container border-bottom" >
            <div class="scroll-content" id="scroll-content">
                <% productos.forEach(producto => { %>
                <div class="cards">
                    <img src="<%= producto.imagenes[0] %>" alt="<%= producto.nombre %>">
                    <h2><%= producto.nombre %></h2>
                    <p><%= producto.descripcion %></p>
                    <p>Color: <%= producto.color %></p>
                    <p class="precio">$<%= producto.precio %></p>

                    <div class="card-footer">
                        <div class="cantidad-container">
                            <div class="cantidad">
                                <label for="cantidad">Cantidad:</label>
                                <input type="number" id="cantidad-<%= producto._id %>" value="1" min="1">
                            </div>
                            <button class="btn btn-ver-detalles" data-producto='<%= JSON.stringify(producto) %>'>
                                Ver Detalles
                            </button>
                        </div>
                        <button class="btn btn-carrito" data-id="<%= producto._id %>">Añadir al carrito</button>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>  
<script>
   
   const scrollContent = document.getElementById('scroll-content');
let isDown = false;
let startX;
let scrollLeft;

if (scrollContent) {
    scrollContent.addEventListener('mousedown', (e) => {
        isDown = true;
        scrollContent.classList.add('active');
        startX = e.pageX - scrollContent.offsetLeft;
        scrollLeft = scrollContent.scrollLeft;
    });

    scrollContent.addEventListener('mouseleave', () => {
        isDown = false;
        scrollContent.classList.remove('active');
    });

    scrollContent.addEventListener('mouseup', () => {
        isDown = false;
        scrollContent.classList.remove('active');
    });

    scrollContent.addEventListener('mousemove', (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - scrollContent.offsetLeft;
        const walk = (x - startX) * 2; // Ajusta el multiplicador para mayor/menor velocidad
        scrollContent.scrollLeft = scrollLeft - walk;
    });
}
   
</script>

<!-- Modales -->
<div id="modalDetalles" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalDetallesLabel">Detalles del Producto</h5>
            <span class="close" id="cerrarModal">×</span>
        </div>
        <div class="modal-body">
            <!-- Carrusel de imágenes -->
            <div id="carouselImagenes" class="carousel">
                <div class="carousel-inner">
                    <!-- Aquí se insertan las imágenes dinámicamente -->
                </div>
                <button class="carousel-control-prev" onclick="cambiarSlide(-1)">❮</button>
                <button class="carousel-control-next" onclick="cambiarSlide(1)">❯</button>
            </div>

            <div class="detalle-grid mb-3">
                <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
                <p><strong>Color:</strong> <span id="modalColor"></span></p>
                <p><strong>Precio:</strong> $<span id="modalPrecio"></span></p>
                <p><strong>Stock:</strong> <span id="modalStock"></span></p>
            </div>

            <p><strong>Descripción:</strong> <span id="modalDescripcion"></span></p>
            <hr>
            <h6 class="mb-2">Detalles adicionales:</h6>
            <div class="detalle-extra-grid">
                <div class="detalle-extra-card"><strong>Destacado</strong><span id="modalDestacado"></span></div>
                <div class="detalle-extra-card"><strong>Envío Gratis</strong><span id="modalEnvio"></span></div>
                <div class="detalle-extra-card"><strong>Tallas</strong><span id="modalTallas"></span></div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="cerrarModalBtn">Cerrar</button>
            <!-- Botón de añadir al carrito dentro del modal -->
            <button type="button" class="btn btn-primary modal-agregar-carrito-btn" data-id="">Añadir al carrito</button>
        </div>
    </div>
</div>

<!-- Modal del Carrito -->
<div id="modalCarrito" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Mi Carrito</h5>
            <span class="close" id="cerrarModalCarrito">×</span>
        </div>
        <div class="modal-body cart-modal-body">
            <!-- Aquí se mostrarán los productos del carrito -->
        </div>
        <div class="modal-footer">
            <p class="cart-total">Total: $0.00</p>
            <button type="button" class="btn btn-secondary" id="cerrarModalCarritoBtn">Cerrar</button>
            <button type="button" class="btn btn-primary">Pagar</button>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log("DOMContentLoaded");

    // **MODAL DETALLES**
    const modalDetalles = document.getElementById('modalDetalles');
    const cerrarModalBtn = document.getElementById('cerrarModalBtn');
    const cerrarModal = document.getElementById('cerrarModal');
    const carouselInner = document.querySelector('#carouselImagenes .carousel-inner');
    let imagenes = [];
    let currentImageIndex = 0;

    // **MODAL CARRITO**
    const modalCarrito = document.getElementById('modalCarrito');
    const cerrarModalCarritoBtn = document.getElementById('cerrarModalCarritoBtn');
    const cerrarModalCarrito = document.getElementById('cerrarModalCarrito');
    const cartModalBody = document.querySelector('#modalCarrito .cart-modal-body');

    const carritoIcono = document.querySelector('.navbar-icons a[href="/carrito"]');
    carritoIcono.addEventListener('click', function(event) {
        event.preventDefault(); // Evita que el enlace te lleve a otra página
        window.location.href = '/carrito'; // Redirige a la ruta /carrito
    });

    // Función genérica para añadir al carrito
    async function agregarAlCarrito(productoId) {
        const cantidadInput = document.getElementById(`cantidad-${productoId}`);
        if (!cantidadInput) {
            console.error('No se encontró el input de cantidad para el producto con ID:', productoId);
            alert('Error al añadir al carrito. Por favor, inténtalo de nuevo.');
            return;
        }
        const cantidad = parseInt(cantidadInput.value);

        // Verifica que la cantidad sea válida
        if (isNaN(cantidad) || cantidad <= 0) {
            alert("Cantidad inválida");
            return;
        }

        try {
            const response = await fetch('/carrito/agregar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productoId: productoId,
                    cantidad: cantidad
                })
            })

            if (response.ok) {
                const updatedCartCount = await response.json();

                const cartBadge = document.querySelector('.cart-badge');
                cartBadge.textContent = updatedCartCount.cartItemCount;
                return true; // Indica éxito
            } else {
                console.error('Error al añadir al carrito:', response.status);
                alert('Error al añadir al carrito. Por favor, inténtalo de nuevo.');
                return false; // Indica fallo
            }
        } catch (error) {
            console.error('Error al añadir al carrito:', error);
            alert('Error al añadir al carrito. Por favor, inténtalo de nuevo.');
            return false; // Indica fallo
        }
    }

    // Al hacer clic en "Añadir al carrito" (fuera del modal)
    document.querySelectorAll('.btn-carrito').forEach(button => {
        console.log("Botón encontrado");
        button.addEventListener('click', async function() {
            console.log("Añadir al carrito clickeado");
            const productoId = this.dataset.id;
            await agregarAlCarrito(productoId);
        });
    });

    // Al hacer clic en "Añadir al carrito" (dentro del modal)
    document.querySelectorAll('.modal-agregar-carrito-btn').forEach(button => {
        button.addEventListener('click', async function() {
            const productoId = this.dataset.id;
            const exito = await agregarAlCarrito(productoId);
            if (exito) {
                closeTheModal(); // Cierra el modal solo si se añadió con éxito
            }
        });
    });

    document.querySelectorAll('.btn-ver-detalles').forEach(button => {
        button.addEventListener('click', function() {
            try {
                const producto = JSON.parse(this.dataset.producto);
                console.log('Producto seleccionado:', producto);

                // Rellenar los campos del modal con la información del producto
                document.getElementById('modalNombre').textContent = producto.nombre;
                document.getElementById('modalColor').textContent = producto.color;
                document.getElementById('modalPrecio').textContent = producto.precio;
                document.getElementById('modalStock').textContent = producto.stock;
                document.getElementById('modalDescripcion').textContent = producto.descripcion;
                document.getElementById('modalDestacado').textContent = producto.destacado ? 'Sí' : 'No';
                document.getElementById('modalEnvio').textContent = producto.envioGratis ? 'Sí' : 'No';
                document.getElementById('modalTallas').textContent = producto.tallas ? producto.tallas.join(', ') : 'N/A';

                // Cargar las imágenes en el carrusel
                cargarImagenesCarousel(producto.imagenes);
                currentImageIndex = 0; // Reinicia el índice de la imagen
                showSlide(currentImageIndex);

                // Establecer el ID del producto en el botón "Añadir al carrito" del modal
                const modalAgregarCarritoBtn = document.querySelector('.modal-footer .modal-agregar-carrito-btn');
                modalAgregarCarritoBtn.dataset.id = producto._id;

                // Mostrar el modal
                modalDetalles.style.display = 'block';
            } catch (error) {
                console.error('Error al parsear JSON:', error);
                alert('Error al cargar los detalles del producto.');
            }
        });
    });


    function closeTheModal() {
        modalDetalles.style.display = 'none';
    }

    cerrarModalBtn.addEventListener('click', closeTheModal);
    cerrarModal.addEventListener('click', closeTheModal);

    window.addEventListener('click', function(event) {
        if (event.target == modalDetalles) {
            closeTheModal();
        }
    });

    function closeModalCarrito() {
        modalCarrito.style.display = 'none';
    }

    cerrarModalCarritoBtn.addEventListener('click', closeModalCarrito);
    cerrarModalCarrito.addEventListener('click', closeModalCarrito);


    function cargarImagenesCarousel(imagenes) {
        carouselInner.innerHTML = ''; // Limpiar el contenido anterior

        imagenes.forEach((imagen, index) => {
            const item = document.createElement('div');
            item.classList.add('carousel-item');
            if (index === 0) {
                item.classList.add('active');
            }

            const img = document.createElement('img');
            img.src = imagen;
            img.alt = `Imagen ${index + 1}`;
            item.appendChild(img);

            carouselInner.appendChild(item);
        });
    }

    window.cambiarSlide = function(n) {
        showSlide(currentImageIndex += n);
    }

    function showSlide(n) {
        let slides = document.getElementsByClassName("carousel-item");
        if (n >= slides.length) {
            currentImageIndex = 0
        }
        if (n < 0) {
            currentImageIndex = slides.length - 1
        }
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[currentImageIndex].style.display = "block";
    }
});
</script>